<div
  class="column content container"
  style="height: 640px;"
>
  <mat-tab-group
    *ngIf="disablepermiso"
    mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" fxFill
    (selectedIndexChange)="posiciontab($event)">
  >
    <mat-tab class="textInf" label="Retirar Dinero" fxFill>

      <div
        class="container column"
        fxFill
      >
        <div class="row m">
          <mat-form-field
              class="example-full-width col"
              *ngIf="!disableretiro"
          >
              <input
                  matInput
                  placeholder="Buscar Retiros"
                  [(ngModel)]="txtretiro"
                  autocomplete="off"
              >
          </mat-form-field>
          <div
            class="col"
            *ngIf="disableretiro"
          >

          </div>
          <div class="row m">
            <button
              *ngIf="!disableretiro "
               mat-raised-button
               color="primary"
              (click)="search(txtretiro, 'retiro')"
            >
              <span class="textInf">
                Buscar
              </span>
            </button>
            <button
               mat-mini-fab color="primary"
              (click)="openretiro()"
              aria-label="agregar"
              *ngIf="!disableretiro && disableFecha"
              [disabled]="!disable"
            >
              <i class="far fa-plus-square"></i>
            </button>
            <button
               mat-mini-fab color="warn"
              (click)="openretiro()"
              aria-label="agregar"
              *ngIf="disableretiro"
            >
              <i class="far fa-times-circle"></i>
            </button>
          </div>
        </div>
        <table
          *ngIf="!disableretiro"
          mat-table [dataSource]="retirosSource" class="mat-elevation-z8 col">
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
              <button
                 mat-mini-fab color="primary"
                (click)="open(element, data, 'retiro')"
              >
                <i class="far fa-eye"></i>
              </button>
             </td>
          </ng-container>
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.codigo }} </td>
          </ng-container>
          <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.titulo }} </td>
          </ng-container>
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element" class="textInf"> $ {{ (element.cantidad || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' })}} </td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.estado }} </td>
          </ng-container>
          <ng-container matColumnDef="tipoBanco">
            <th mat-header-cell *matHeaderCellDef> Tipo Banco </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.tipoBanco.titulo || element.datatipobanco.titulo }} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{ element.descripcion }} </td>
          </ng-container> -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Creado </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.createdAt | amDateFormat: 'YYYY/MM/DD HH:mm' }} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef> Actualizado </th>
            <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date:'fullDate' }} </td>
          </ng-container> -->
          <tr mat-header-row *matHeaderRowDef="displayedRetiros"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedRetiros;"></tr>
        </table>
        <div
          *ngIf="disableretiro"
          class="column m content container"
        >
          <div
            fxLayoutAlign="center"
            fxLayout="row"
          >
            <h5>Agregar Retiro de Dinero</h5>
          </div>
          <div
            class="column m"
          >
            <div class="row">
              <mat-form-field
                  class="example-full-width col"
              >
                  <input
                      matInput
                      required
                      type="text"
                      placeholder="Codigo"
                      disabled="true"
                      [(ngModel)]="retiroForm.codigo"
                  >
              </mat-form-field>
              <mat-form-field
                  class="example-full-width col"
              >
                  <input
                      matInput
                      required
                      type="text"
                      placeholder="Titulo"
                      disabled="true"
                      [(ngModel)]="retiroForm.titulo"
                  >
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field
                  class="example-full-width col"
              >
                  <input
                      matInput
                      required
                      type="text"
                      placeholder="Estado"
                      disabled="true"
                      [(ngModel)]="retiroForm.estado"
                  >
              </mat-form-field>
              <mat-form-field
                  class="example-full-width col"
              >
                <mat-label class="textInf">Tipo de Bancos</mat-label>
                  <mat-select
                    [disabled]="retiroForm.id"
                    [(ngModel)]="retiroForm.tipoBanco"
                  >
                    <mat-option
                      *ngFor="let banco of bancosSource"
                      [value]="banco.id"
                      class="textInf"
                    >
                      {{ banco.titulo }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <!-- <mat-form-field
                  class="example-full-width"
                  *ngIf="!data.id"
              >
                  <span matPrefix><i class="fas fa-coins icons"></i></span>
                  <input
                      matInput
                      required
                      type="number"
                      placeholder="Cantidad"
                      max="{{retiroForm.coins}}"
                      [disabled]="cantidaddisabled"
                      min="1"
                      [(ngModel)]="retiroForm.cantidad"
                  >
              </mat-form-field> -->
              <div class="column p-3">
                <label for="cantidad">Cantidad a Retirar</label>
                <span>$ {{ (retiroForm.cantidad || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</span>
              </div>
              <mat-form-field
                  class="example-full-width"
              >
                  <span matPrefix><i class="fas fa-coins icons"></i></span>
                  <input
                      matInput
                      required
                      type="number"
                      placeholder="Pago del Paquete"
                      max="{{retiroForm.pagopaquete}}"
                      disabled="true"
                      min="1"
                      [(ngModel)]="retiroForm.pagopaquete"
                  >
              </mat-form-field>
            </div>
            <div
              class="row"
              *ngIf="retiroForm.id"
            >
              <mat-form-field
                  class="example-full-width col"
              >
                  <input
                      matInput
                      required
                      type="string"
                      placeholder="Fecha de Creado"
                      disabled="true"
                      [(ngModel)]="retiroForm.createdAt"
                  >
              </mat-form-field>
              <mat-form-field
                  class="example-full-width col"
              >
                  <input
                      matInput
                      required
                      type="string"
                      placeholder="Fecha de Actualizado"
                      disabled="true"
                      [(ngModel)]="retiroForm.updatedAt"
                  >
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field
                  class="example-full-width col"
              >
                <textarea
                  [disabled]="retiroForm.id"
                  matInput
                  placeholder="Descripcion"
                  [(ngModel)]="retiroForm.descripcion"
                ></textarea>
              </mat-form-field>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="center"
              *ngIf="!retiroForm.id"
            >
              <button
                 mat-mini-fab color="primary"
                *ngIf="!ocultaBtn"
                 (click)="onSubmitRetiro()"
              >
                <!-- Buscar -->
                <i class="far fa-save"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab
      label="Bancos Registrados"
      class="textInf"
    >
      <div class="content container column" fxFill>
          <div class="row m">
            <mat-form-field
                class="example-full-width col"
                *ngIf="!disablebanco"
            >
                <input
                    matInput
                    placeholder="Buscar Bancos"
                    [(ngModel)]="txtbancos"
                    autocomplete="off"
                >
            </mat-form-field>
            <div
              class="col"
              *ngIf="disablebanco"
            >

            </div>
            <div class="row m">
              <button
                *ngIf="!disablebanco"
                 mat-raised-button
                 color="primary"
                (click)="search(txtbancos, 'bancos')"
              >
                Buscar
              </button>
              <!-- <button
                *ngIf="!disablebanco"
                 mat-mini-fab color="primary"
                (click)="search(txtbancos, 'bancos')"
              >
                <i class="far fa-search"></i>
              </button> -->
              <button
                *ngIf="!disablebanco"
                 mat-mini-fab color="primary"
                (click)="open(null, null, 'bancos')"
              >
                <i class="far fa-plus-square"></i>
              </button>
              <button
                *ngIf="disablebanco"
                 mat-mini-fab color="warn"
                (click)="open(null, null, 'bancos')"
              >
                <i class="far fa-times-circle"></i>
              </button>
            </div>
          </div>
        <table
          *ngIf="!disablebanco"
          mat-table [dataSource]="bancosSource" class="mat-elevation-z8 col"
        >
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
              <button
                 mat-mini-fab color="primary"
                (click)="open(element, data, 'bancos')"
              >
                <i class="far fa-eye"></i>
              </button>
              <button
                 mat-mini-fab color="warn"
                (click)="delete(element, 'bancos')"
              >
                <i class="far fa-trash-alt"></i>
              </button>
             </td>
          </ng-container>
          <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Banco </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.titulo }} </td>
          </ng-container>
          <ng-container matColumnDef="tipoCuenta">
            <th mat-header-cell *matHeaderCellDef> Tipo de Cuenta </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.tipoCuenta }} </td>
          </ng-container>
          <ng-container matColumnDef="nCuenta">
            <th mat-header-cell *matHeaderCellDef> Numero de La Cuenta </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.nCuenta }} </td>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Creado </th>
            <td mat-cell *matCellDef="let element" class="textInf"> {{ element.createdAt | amDateFormat: 'YYYY/MM/DD HH:mm' }} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef> Actualizado </th>
            <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date:'fullDate' }} </td>
          </ng-container> -->
          <!-- <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{ element.descripcion }} </td>
          </ng-container> -->
          <tr mat-header-row *matHeaderRowDef="displayedBancos"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedBancos;"></tr>
        </table>
        <div
          *ngIf="disablebanco"
          class="column m content container"
        >
          <div
            fxLayoutAlign="center"
            fxLayout="row"
          >
            <h5>Agregar Bancos</h5>
          </div>
          <div
            class="column"
          >
            <div class="row">
              <mat-form-field
                  class="example-full-width col"
              >
                  <!-- <input
                      matInput
                      required
                      type="text"
                      placeholder="Nombre del Banco"
                      [(ngModel)]="bancoForm.titulo"
                  > -->
                  <mat-label>Banco</mat-label>
                    <mat-select
                      (blur)="onBlur('titulo')"
                      [(ngModel)]="bancoForm.titulo"
                    >
                      <mat-option
                        value="efecty"
                      >
                        Efecty
                      </mat-option>
                      <mat-option
                        *ngIf="user.pais === '!Colombia'"
                        value="afex"
                      >
                        Afex
                      </mat-option>
                      <mat-option
                        *ngIf="user.pais === '!Colombia'"
                        value="moneygram"
                      >
                        Moneygram
                      </mat-option>
                      <mat-option
                        *ngIf="user.pais === '!Colombia'"
                        value="western-union"
                      >
                        Western Union
                      </mat-option>
                      <mat-option
                        *ngIf="user.pais === '!Colombia'"
                        value="ria"
                      >
                        Ria / Riamoneytransfer
                      </mat-option>
                      <mat-option
                        value="nequi"
                      >
                        NEQUI
                      </mat-option>
                      <mat-option
                        value="bbva"
                      >
                        BBVA
                      </mat-option>
                      <mat-option
                        value="colpatria"
                      >
                        Colpatria
                      </mat-option>
                      <mat-option
                        value="davivienda"
                      >
                        Davivienda
                      </mat-option>
                      <mat-option
                        value="banco-caja-social"
                      >
                        Banco Caja Social
                      </mat-option>
                      <mat-option
                        value="banco-agrario"
                      >
                        Banco Agrario
                      </mat-option>
                      <mat-option
                        value="banco-av-villas"
                      >
                        Banco AV Villas
                      </mat-option>
                      <mat-option
                        value="banco-caja-social"
                      >
                        Banco Caja Social
                      </mat-option>
                      <mat-option
                        value="banco-occidente"
                      >
                        Banco de Occidente
                      </mat-option>
                      <mat-option
                        value="banco-popular"
                      >
                        Banco Popular
                      </mat-option>
                      <mat-option
                        value="bancoldex"
                      >
                        Bancóldex
                      </mat-option>
                      <mat-option
                        value="Bancolombia"
                      >
                        Bancolombia
                      </mat-option>
                      <mat-option
                        value="banco-de-bogota"
                      >
                        Banco de Bogotá
                      </mat-option>
                      <mat-option
                        value="gnb-sudameris"
                      >
                        GNB Sudameris
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <mat-form-field
                  class="example-full-width col"
              >
                  <input
                      matInput
                      required
                      type="text"
                      placeholder="Numero de La Cuenta / Identificacion"
                      min="1"
                      [(ngModel)]="bancoForm.nCuenta"
                      (blur)="onBlur('nCuenta')"
                  >
              </mat-form-field>
              <mat-form-field
                  class="example-full-width col"
              >
                <mat-label>Tipo de Cuenta</mat-label>
                  <mat-select
                    (blur)="onBlur('tipoCuenta')"
                    [(ngModel)]="bancoForm.tipoCuenta"
                  >
                    <mat-option
                      value="corriente"
                      *ngIf="bancoForm.titulo !== ('efecty' || 'afex' || 'moneygram' || 'western-union' || 'ria')"
                    >
                      Corriente
                    </mat-option>
                    <mat-option
                      value="ahorro"
                      *ngIf="bancoForm.titulo !== ('efecty' || 'afex' || 'moneygram' || 'western-union' || 'ria')"
                    >
                      Ahorro
                    </mat-option>
                    <mat-option
                      value="ahorroalaMano"
                      *ngIf="bancoForm.titulo !== ('efecty' || 'afex' || 'moneygram' || 'western-union' || 'ria')"
                    >
                      Ahorro ala mano
                    </mat-option>
                    <mat-option
                      value="giro"
                      *ngIf="bancoForm.titulo === ('efecty' || 'afex' || 'moneygram' || 'western-union' || 'ria')"
                    >
                      Giro
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div
              class="row"
              *ngIf="bancoForm.id"
            >
              <mat-form-field
                  class="example-full-width col"
              >
                  <input
                      matInput
                      required
                      type="string"
                      placeholder="Fecha de Creado"
                      disabled="true"
                      [(ngModel)]="bancoForm.createdAt"
                  >
              </mat-form-field>
              <mat-form-field
                  class="example-full-width col"
              >
                  <input
                      matInput
                      required
                      type="string"
                      placeholder="Fecha de Actualizado"
                      disabled="true"
                      [(ngModel)]="bancoForm.updatedAt"
                  >
              </mat-form-field>
            </div>
            <!-- <div class="row">
              <mat-form-field
                  class="example-full-width col"
              >
                <textarea
                  matInput
                  placeholder="Descripcion"
                  [(ngModel)]="bancoForm.descripcion"
                  (blur)="onBlur('descripcion')"
                ></textarea>
              </mat-form-field>
            </div> -->
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="center"
            *ngIf="!bancoForm.id"
          >
            <button
               mat-mini-fab color="primary"
               (click)="onSubmitbanco()"
            >
              <!-- Buscar -->
              <i class="far fa-save"></i>
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="container" *ngIf="!disablepermiso">
    <div class="p-3 mb-2 bg-primary text-white justify-content-center column rounded"
      fxLayoutAlign="space-around center" fxLayout="row">
      <div class="row">
        <div class="m col col-lg">
          <h3 class="textInf">!Este Nivel Gratuito No Tiene Permisos!</h3>
          <h5 class="textInf">Para Poder Activar Compre tu plan</h5>
        </div>
        <div class="m p-3 justify-content-center col col-lg">
          <a routerLink="../paquetes" class="text-white p p-3 mb-2 bg-success m rounded">
            <span class="textInf">
              Adquirir paquetes
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
