<div
  class="container column"
>
  <div>
    <nav
      class="bg-info justify-content-center rounded"
    >
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active text-white rounded">
            <h5>Tablero</h5>
          </a>
        </li>
      </ul>
    </nav>
    <div
      class="m mat-elevation-z3 column"
    >
      <div
        class="marginTop column"
      >
        <div>
          <div
            class="row"
          >
            <div
              class="bg-primary text-white padding col rounded"
            >
              <span>Mis Publicacion</span>
            </div>
          </div>
          <div
            class="m row"
          >
            <span class="text col textInf">Publicacion:</span>
            <label class="textInf">{{ general.publicacion.dispoble || 0 }}</label>
          </div>
          <div
            class="m row"
          >
            <span class="text col textInf">Super Publicacion:</span>
            <label class="textInf">{{ general.publicacion.utilizado || 0 }}</label>
          </div>
        </div>
        <div>
          <div
            class="row"
          >
            <div
              class="bg-primary text-white padding col rounded"
            >
              <span>Mis Recompensas</span>
            </div>
          </div>
          <div
            class="m row"
          >
            <span class="text col textInf">Mix Ganancias por Click:</span>
            <label class="textInf">$ {{ (general.recompensa.click || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</label>
          </div>
          <div
            class="m row"
          >
            <span class="text col textInf">Mix Ganancias por Click de Referidos:</span>
            <label class="textInf">$ {{ (general.recompensa.clickreferidos || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</label>
          </div>
          <div
            class="m row"
          >
            <span class="text col textInf">Dinero Disponibles:</span>
            <label class="textInf">$ {{ (general.recompensa.disponible || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</label>
          </div>
          <div
            class="m row"
          >
            <span  class="text col textInf">Dinero Retirado:</span>
            <label class="textInf">$ {{ (general.recompensa.retirado || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</label>
          </div>
        </div>
        <div>
          <div
            class="row"
          >
            <div
              class="bg-primary text-white padding col rounded"
            >
              <span>Mis Referidos</span>
            </div>
          </div>
          <div
            class="m row"
          >
            <span class="text col textInf">Activos:</span>
            <label class="textInf">{{ general.referidos.activos || 0 }}</label>
          </div>
          <div
            class="m row"
          >
            <span class="text col textInf">Gratuitos:</span>
            <label class="textInf">{{ general.referidos.inactivos || 0 }}</label>
          </div>
          <div>
            <div
              class="row"
            >
              <div
                class="bg-primary text-white padding col rounded"
              >
                <div class="row">
                  <span class="col">Mis Actividades</span>
                  <div
                    matTooltip="Ver Mis actividades Mas Detallado"
                  >
                    <button type="button" mat-mini-fab color="primary"
                      (click)="disablever = !disablever"
                    ><i class="far fa-eye"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="!disablever"
            >
              <div
                class="m row"
              >
                <span class="text col textInf">Realizado:</span>
                <label class="textInf">{{ general.click.realizado || 0 }}</label>
              </div>
              <div
                class="m row"
              >
                <span class="text col textInf">No Realizado:</span>
                <label class="textInf">{{ general.click.norealizado || 0 }}</label>
              </div>
            </div>
            <div class="column" role="list" *ngIf="disablever">
              <div class="p-3 mb-2 bg-info text-white rounded">
                <p>Nota Las Fechas Que No Salen El Usuario No Ingreso a la Plataforma Gracias</p>
              </div>
              <ul class="list-group">
                <li
                  *ngFor="let item of dataActividad"
                  class="list-group-item container row"
                >
                <div class="row col">
                  <div class="col-sm-6 col-md-4 text-white">
                    <label>Fecha de Actividad: </label>
                    <span>{{ item.create }}</span>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <label>Actividades Realizado: </label>
                    <span>{{ item.cantidadrealizado }}</span>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <label>Actividades No Realizado: </label>
                    <span>{{ item.cantidadnorealizado }}</span>
                  </div>
                </div>
                <!--<div class="row list-group-item  bg-info text-white">
                  <label>Fecha de Actividad: </label>
                  <span>{{ item.create }}</span>
                </div>
                <div class="row">
                  <label>Actividades Realizado: </label>
                  <span>{{ item.cantidadrealizado }}</span>
                </div>
                <div class="row">
                  <label>Actividades No Realizado: </label>
                  <span>{{ item.cantidadnorealizado }}</span>
                </div>-->
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div
              class="row"
            >
              <div
                class="bg-primary text-white padding col rounded"
              >
                <span>Mis Paquetes</span>
              </div>
            </div>
            <div
              class="m row"
            >
              <span class="text col textInf">Paquete Principiante:</span>
              <label class="textInf">{{ general.paquete.basico || 0 }}</label>
            </div>
            <div
              class="m row"
            >
              <span class="text col textInf">Paquete DIAMANTE DORADO:</span>
              <label class="textInf">{{ general.paquete.emprendedor || 0 }}</label>
            </div>
            <!-- <div
              class="m"
              fxLayout="row"
            >
              <span fxFlex>Paquete Lider:</span>
              <label fxFlex="10">{{ general.paquete.lider || 0 }}</label>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
