<div class="container" *ngIf="!carga">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of log; let indice=index">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>¡{{item.titulo}}!</strong> {{item.mensaje}}
          <button *ngIf="item.valor && disabled" type="button"  aria-label="Consumir" (click)="evento(indice, item, 'paquete')">
            Consumir
          </button>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="evento(indice, item, 'visto')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of listActivacion; let indice=index">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>¡{{ item.titulo }}!</strong> {{ item.descripcion }}
          <button *ngIf="item.valor" type="button"  aria-label="Consumir" (click)="eventpaquete(null, item, 'paquete', true)">
            Activar
          </button>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="this.listActivacion.splice(indice, 1)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </li>
  </ul>

</div>
