<div
  fxLayout="column "
  class="m border border-light"
>
  <div
    class="column"
    *ngIf="!disable"
  >
    <!-- <div
      class="p container"
      style="padding: 10%;"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-card
        id="carta-paquete"
        class="m p ancho border border-light"
        *ngFor="let item of paquetes; index as i"
      >
        <mat-card-header
          class="rounded"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
          fxLayout="column"
          fxLayoutAlign="center center"
        >

            <p
            >
              {{item.description}}
            </p>

        </mat-card-content>
        <mat-card-actions
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <a href="{{ item.url }}" target="_blank">
            <img src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn1.png" alt="none">
          </a>
            {{item.valor | currency: 0 : "$"}}
        </mat-card-actions>
      </mat-card>
    </div> -->
    <div class="column content">
      <nav
        class="p-3 mb-2 bg-info text-white rounded"
      >
        Paquetes
      </nav>
      <div class="row p-3 d-flex justify-content-center ">
        <div
          class="col-9 col-sm-4 col-lg-3 separar" *ngFor="let pro of paquetes; index as i"
        >
          <div class="form-column">
            <div class="column">
              <div class="mat-elevation-z3 column ancho" style="width: 150%;">
                <div class="d-flex justify-content-center">
                  <h5 class="p-1">{{ pro.title }}</h5>
                </div>
                <div class="">
                  <p class="p-1">{{ pro.description }}</p>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="column">
                    <div class="d-flex justify-content-center">
                      <p class="p-1">$ {{ (pro.valor || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</p>
                    </div>
                    <div class="column">
                      <div class="d-flex justify-content-center">
                        <p>{{ "+ Costo de transaccion" }}</p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <p>{{ ((pro.valor + 3000) || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="column">
                    <div class="d-flex justify-content-center">
                      <a href="{{ pro.url }}" target="_blank">
                        <img src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn1.png" alt="none" width="215px">
                      </a>
                      <br>
                    </div>
                    <div class="">
                      <p> {{ " " }}</p>
                    </div>
                    <div class="d-flex justify-content-center p-3 mb-2 bg-dark text-white rounded">
                      <div class="d-flex justify-content-center p-1">
                        <br>
                        <p class="text-center">Pagos Inteligentes Automaticamente</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="mat-elevation-z3 column ancho" style="width: 150%;">
                <div class="d-flex justify-content-center p-3 mb-2 bg-dark text-white rounded">
                  <div class="d-flex justify-content-center p-1">
                    <br>
                    <p class="text-center">Otros Medios</p>
                  </div>
                </div>
                <div class="d-flex justify-content-center mat-elevation-z3 p">
                  <a>
                    <img src="{{ pro.otrourl }}" alt="none" height="250px">
                  </a>
                </div>
                <br>
                <div class="d-flex justify-content-center mat-elevation-z3 p">
                  <a>
                    <img src="{{ pro.imgwester }}" alt="none"height="250px">
                  </a>
                </div>
                <div class="">
                  <p> {{ " " }}</p>
                </div>
                <div class="d-flex justify-content-center p-3 mb-2 bg-dark text-white rounded">
                  <div class="d-flex justify-content-center">
                    <p class="text-center">Pagos Manual Sin Costo de Transaccion Acreditados en 1-2 Dias</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- <div
          class="p-3 col-9 col-sm-4 col-lg-3 separar mat-elevation-z3" *ngFor="let pro of paquetes; index as i"
        >
          <div class="form-column">
            <a>
              <img src="{{ pro.otrourl }}" alt="none" height="250px">
            </a>
          </div>
        </div> -->
        <br>
        <!-- <div
          class="p-3 col-9 col-sm-4 col-lg-3 separar mat-elevation-z3" *ngFor="let pro of paquetes; index as i"
        >
          <div class="form-column">
            <div class="d-flex justify-content-center">
              <a>
                <img src="{{ pro.imgwester }}" alt="none"height="250px">
              </a>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
  <div
    *ngIf="disable"
    class="p-3 mb-2 bg-primary text-white justify-content-center rounded column"
    fxLayoutAlign="space-around center"
    fxLayout="row"
  >
    <div class="m">
      <h3>!Ops Todavia Tienes Un Paquete Activo!</h3>
      <h5>Por Favor Esperar Que Se Consuma Tu Paquete</h5>
    </div>
  </div>
</div>
