<div class="main-content mat-elevation-z3" *ngIf="this.cuerpo">
  <div class="container-fluid">
      <mat-tab-group
        mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" fxFill
      >
          <mat-tab label="Perfil"> 
              <div class="row">
                  <div class="col-md-8">
                      <div class="card">
                          <div class="card-header card-header-danger mat-elevation-z3 p-3 mb-2 bg-primary text-white">
                              <h4 class="card-title">Editar Perfil</h4>
                              <p class="card-category">Complear Campos</p>
                          </div>
                          <div class="card-body">
                              <div>
                                  <div class="row">
                                      <div
                                        class="col row"
                                      >
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <input
                                                matInput
                                                placeholder="User Name"
                                                disabled = false
                                                [(ngModel)]="cuerpo.data.username"
                                                (blur)="cuerpo.btn.edit(cuerpo, 'username')"
                                            >
                                        </mat-form-field>
                                      </div>
                                      <div class="col row">
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <input
                                                matInput
                                                placeholder="nombre"
                                                [(ngModel)]="cuerpo.data.name"
                                                (blur)="cuerpo.btn.edit(cuerpo, 'name')"
                                            >
                                        </mat-form-field>
                                      </div>
                                      <div class="col row">
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <input
                                                matInput
                                                placeholder="Apellido"
                                                [(ngModel)]="cuerpo.data.lastname"
                                                (blur)="cuerpo.btn.edit(cuerpo, 'lastname')"
                                            >
                                        </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col row">
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <select
                                              required
                                              matNativeControl
                                              placeholder="Sexo"
                                              [(ngModel)]="cuerpo.data.sexo"
                                              (blur)="cuerpo.btn.edit(cuerpo, 'sexo')"
                                            >
                                              <option value="masculino">Masculino</option>
                                              <option value="femenino">Femenino</option>
                                              <option value="sin-expesificar">Sin Expesificar</option>
                                            </select>
                                        </mat-form-field>
                                      </div>
                                      <!-- <div class="col row">
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <select
                                              required
                                              matNativeControl
                                              placeholder="Tipo de Documento"
                                              [(ngModel)]="cuerpo.data.tipdoc"
                                              (blur)="cuerpo.btn.edit(cuerpo, 'tipdoc')"
                                            >
                                              <option value="cc">Numero de Cédula de tu pais</option>
                                            </select>
                                        </mat-form-field>
                                      </div> -->
                                      <mat-form-field
                                          class="example-full-width col"
                                      >
                                          <input
                                              matInput
                                              placeholder="Numero de Documento"
                                              [(ngModel)]="cuerpo.data.documento"
                                              (blur)="cuerpo.btn.edit(cuerpo, 'documento')"
                                          >
                                      </mat-form-field>
                                  </div>
                                  <div class="row">
                                    <div class="md-form col-lg-2">
                                      <label for="Form-email5" >Pais</label>
                                       <select
                                          class="custom-select"
                                          [(ngModel)]="cuerpo.data.pais"
                                          (blur)="viewpais()"
                                       >
                                         <option
                                            value="{{ item.name }}"
                                            *ngFor="let item of listpais"
                                          >
                                            {{ item.name}}
                                          </option>
                                       </select>
                                    </div>
                                    <div class="md-form col-lg-5">
                                      <div class="" *ngIf="!disabledpais">
                                        <label for="Form-email5" >Departamento</label>
                                         <select
                                            class="custom-select"
                                            [(ngModel)]="cuerpo.data.departamento"
                                            (blur)="blurdepartamento()"
                                         >
                                           <option
                                              value="{{item.departamento}}"
                                              *ngFor="let item of listdepartamento"
                                            >
                                              {{ item.departamento}}
                                            </option>
                                         </select>
                                      </div>
                                      <div class="" *ngIf="disabledpais">
                                        <label for="Form-email5" >Estado / Provincia</label>
                                        <input
                                            type="text"
                                            placeholder="Estdo O provincia "
                                            [(ngModel)]="cuerpo.data.departamento"
                                            (blur)="cuerpo.btn.edit(cuerpo, 'departamento')"
                                            [ngClass]="{ 'is-invalid': submitted && f.cabeza.errors }"
                                            required
                                            class="form-control white-text"
                                         >
                                      </div>
                                    </div>
                                    <div class="md-form col-lg-5">
                                      <div class="" *ngIf="!disabledpais">
                                        <label for="Form-email5" >Ciudad Donde Vives</label>
                                        <select
                                           class="custom-select"
                                           [(ngModel)]="cuerpo.data.ciudad"
                                           (blur)="cuerpo.btn.edit(cuerpo, 'ciudad')"
                                        >
                                          <option
                                             value="{{ item }}"
                                             *ngFor="let item of listciudades"
                                           >
                                             {{ item}}
                                           </option>
                                        </select>
                                      </div>
                                      <div class="" *ngIf="disabledpais">
                                        <label for="Form-email5" >Ciudad / Municipio Donde Vives</label>
                                        <input
                                            type="text"
                                            placeholder="Ciudad de localidad"
                                            [(ngModel)]="cuerpo.data.ciudad"
                                            (blur)="cuerpo.btn.edit(cuerpo, 'ciudad')"
                                            [ngClass]="{ 'is-invalid': submitted && f.cabeza.errors }"
                                            required
                                            class="form-control white-text"
                                         >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col row">
                                      <mat-form-field
                                          *ngIf="cuerpo.data.cabeza"
                                          class="example-full-width col"
                                      >
                                          <input
                                              matInput
                                              placeholder="Patrocinador"
                                              disabled = true
        
                                              [(ngModel)]="cuerpo.data.cabeza.username"
                                          >
                                      </mat-form-field>
                                    </div>
                                    <div class="col row">
                                      <mat-form-field
                                          class="example-full-width col"
                                      >
                                          <input
                                              matInput
                                              placeholder="Email"
                                              [(ngModel)]="cuerpo.data.email"
                                              (blur)="validadEmail()"
                                          >
                                      </mat-form-field>
                                      <div
                                        *ngIf="!disabledemail"
                                      >
                                        <span class="bg-danger text-white rounded">El Email Solo Seran Correos Con Dominio Gmail</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <mat-form-field class="example-full-width col">
                                          <mat-label>Indicativo</mat-label>
                                          <mat-select
                                            class="custom-select"
                                            [(ngModel)]="cuerpo.data.indicativo"
                                            (blur)="cuerpo.btn.edit(cuerpo, 'indicativo')"
                                          >
                                            <mat-option value="{{item.phone_code}}"
                                              *ngFor="let item of list_indicativo"
                                            >
                                            {{ item.nombre + " (+" + item.phone_code +")"}}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      <div class="col row">
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <input
                                                matInput
                                                placeholder="Numero de Celular"
                                                [(ngModel)]="cuerpo.data.celular"
                                                (blur)="cuerpo.btn.edit(cuerpo, 'celular')"
                                            >
                                        </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col row">
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <input
                                                matInput
                                                maxlength="20"
                                                minlength="6"
                                                type="password"
                                                placeholder="Contraseña Anterior"
                                                [(ngModel)]="cuerpo.data.passwordAfter"
                                            >
                                        </mat-form-field>
                                      </div>
                                      <div class="col row">
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <input
                                                matInput
                                                maxlength="20"
                                                minlength="6"
                                                type="password"
                                                placeholder="Contraseña"
                                                [(ngModel)]="cuerpo.data.password1"
                                            >
                                        </mat-form-field>
                                      </div>
                                      <div class="col row">
                                        <mat-form-field
                                            class="example-full-width col"
                                        >
                                            <input
                                                matInput
                                                maxlength="20"
                                                minlength="6"
                                                type="password"
                                                placeholder="Verificar Contraseña"
                                                [(ngModel)]="cuerpo.data.passwordverified"
                                                (blur)="cuerpo.btn.edit(cuerpo, 'password')"
                                            >
                                        </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="col row">
                                    <div class="col">
        
                                    </div>
                                    <div class="">
                                      <button type="button" class="btn btn-success" name="button">Actualizar</button>
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card card-profile">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                          <div class="fileinput-new thumbnail img-circle">
                              <img src="{{this._model.user.foto || './assets/img/placeholder.jpg'}}" alt="...">
                          </div>
                          <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                          <div>
                              <!-- <span class="btn btn-round btn-rose btn-file">
                                  <span class="fileinput-new">Add Photo</span>
                                  <span class="fileinput-exists">Change</span>
                                      <input type="file" name="..." />
                              </span>
                              <br />
                              <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a> -->
                              <input
                              type="file"
                              [(ngModel)]="img"
                              (blur)="datafiles($event)"
                              accept="image/x-png,image/jpeg"
                            />
                            <button
                              (click)="file()"
                              *ngIf="carga"
                              class="btn btn-primary"
                            >
                              <i class="fas fa-cloud-upload-alt fa-1x"></i>
                              Guardar Imagen
                            </button>
                            <div  *ngIf="!carga" class="d-flex align-items-center">
                              <strong>Loading...</strong>
                              <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                            </div>    
                          </div>
                      </div>
                          <!-- <div
                            class="card-avatar p-3 mb-2 bg-primary text-white"
                            fxLayoutAlign="center center"
                            fxLayout="row"
                          >
                              <div class="col">
                                <p>
                                  <img
                                      class="perfil"
                                      src="{{this._model.user.foto}}"
                                      alt="none"
                                      width="100px"
                                      height="120px"
                                  >
                                </p>
                                <div
                                  class="image-upload"
                                  style="overflow: hidden;"
                                >
                                    <input
                                      type="file"
                                      [(ngModel)]="img"
                                      (blur)="datafiles($event)"
                                      accept="image/x-png,image/jpeg"
                                    />
                                    <button
                                      (click)="file()"
                                      *ngIf="carga"
                                      class="btn btn-primary"
                                    >
                                      <i class="fas fa-cloud-upload-alt fa-1x"></i>
                                      Guardar Imagen
                                    </button>
                                    <div  *ngIf="!carga" class="d-flex align-items-center">
                                      <strong>Loading...</strong>
                                      <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                                    </div>
                                </div>
                              </div>
                          </div> -->
                          <div class="card-body">
                            <div class="p-3 mb-2 bg-info text-white column rounded">
                              <h6 class="card-category text-gray">Nivel / {{user.titleNivel}}</h6>
                              <h4 class="card-title">¡Deseas Invitar a un Amigo!</h4>
                            </div>
                              <p class="card-description p-3 mb-2 bg-success text-white rounded">
                                  {{this.url}}registro/{{cuerpo.data.username}}
                              </p>
                              <!-- href="{{this.url}}registro/{{cuerpo.data.username}}"  -->
                              <a
                                target="_blank"
                                (click)="portapapeles()"
                                class="btn btn-danger btn-round"
                                style="color: white;"
                              >Invitar</a>
                          </div>
                      </div>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Portada"> 
              <div class="row content">
                <!--<div class="col-sm-12">
                    <mat-form-field
                        class="example-full-width col"
                    >
                        <textarea 
                          matInput
                          rows="5" cols="40"
                          placeholder="Descripcion de Tu Oficina Virtual"
                          [(ngModel)]="cuerpo.data.des_oficina"
                          (blur)="edit_portada('des_oficina')"
                        ></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field
                        class="example-full-width col"
                    >
                        <textarea 
                          matInput
                          rows="5" cols="40"
                          placeholder="Como te Describes"
                          [(ngModel)]="cuerpo.data.describes"
                          (blur)="edit_portada('describes')"
                        ></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field
                        class="example-full-width col"
                    >
                        <textarea 
                          matInput
                          rows="5" cols="40"
                          placeholder="Como Describes Tu Equipo"
                          [(ngModel)]="cuerpo.data.describes_equipo"
                          (blur)="edit_portada('describes_equipo')"
                        ></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field
                        class="example-full-width col"
                    >
                        <textarea 
                          matInput
                          rows="5" cols="40"
                          placeholder="Tu Biografia"
                          [(ngModel)]="cuerpo.data.biografia"
                          (blur)="edit_portada('biografia')"
                        ></textarea>
                    </mat-form-field>
                </div>-->
                <div class="col-sm-12">
                    <mat-form-field
                        class="example-full-width col"
                    >
                        <textarea 
                          matInput
                          rows="5" cols="40"
                          placeholder="Descripcion del Mensaje de Whatsapp"
                          [(ngModel)]="cuerpo.data.des_what"
                          (blur)="edit_portada('des_what')"
                        ></textarea>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-12">
                    <mat-form-field
                        class="example-full-width col"
                    >
                        <textarea 
                          matInput
                          rows="5" cols="40"
                          placeholder="Url de Video de Portada"
                          [(ngModel)]="cuerpo.data.videourl"
                          (blur)="edit_portada('videourl')"
                        ></textarea>
                    </mat-form-field>
                </div> -->
              </div> 
              <div
                class="d-flex justify-content-center"
              >
                <button type="button" class="btn btn-success">Actualizar</button>
              </div> 
          </mat-tab>
      </mat-tab-group>
  </div>
</div>
