.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-toolbar {
  margin-bottom: 0px !important;
}
.mat-card-image {
  width: auto;
}
.fondo {
  background: #3f51b5;
}
#btn-actualizar {
  margin-left: 15px;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}
.nav-list{
  padding: 1em;
}
.menu2 {
  text-align: end;
  float: right;
}
.example-icon {
  padding: 5px 1em;
}

.example-spacer {
  flex: 1 1 auto;
}
.p {
  padding: 10px;
}
.margin {
  margin: 10%;
}
.perfil {
  border-radius: 35px;
  width: 90px;
  height: 90px;
}
.border {
  border: 1px solid black;
  background: #d8d3d3;
}
.marginLeft {
  margin-left: 20px;
}
.divisor {
  margin-right: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 300 18px/22px Roboto,"Helvetica Neue",sans-serif;
    margin-top: 10px;
  }
  .divisor {
    margin-top: 10px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ancho {
    width: 85%;
  }
  .textInf {
    font-size: 11px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ancho {
    width: 65%;
  }
  .textInf {
    font-size: 11px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ancho {
    width: 45%;
  }
  .textInf {
    font-size: 12px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ancho {
    width: 60%;
  }
  .textInf {
    font-size: 13px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ancho {
    width: 60%;
  }
  .textInf {
    font-size: 13px;
  }
}

// * {
// 	margin:0;
// 	padding:0;
// }
//
// body {
// 	background:#FFFFFA;
// }
// 
// header {
// 	width:100%;
// }
//
// header nav {
// 	width:90%;
// 	max-width:1000px;
// 	margin:20px auto;
// 	background:#024959;
// }
//
// .menu_bar {
// 	display:none;
// }
//
// header nav ul {
// 	overflow:hidden;
// 	list-style:none;
// }
//
// header nav ul li {
// 	float:left;
// }
//
// header nav ul li a {
// 	color:#fff;
// 	padding:20px;
// 	display:block;
// 	text-decoration:none;
// }
//
// header nav ul li span {
// 	margin-right:10px;
// }
//
// header nav ul li a:hover {
// 	background:#037E8C;
// }
//
// section {
// 	padding:20px;
// }
//
// @media screen and (max-width:800px ) {
// 	header nav {
// 		width:80%;
// 		height:100%;
// 		left:-100%;
// 		margin:0;
// 		position: fixed;
// 	}
//
// 	header nav ul li {
// 		display:block;
// 		float:none;
// 		border-bottom:1px solid rgba(255,255,255, .3);
// 	}
//
// 	.menu_bar {
// 		display:block;
// 		width:100%;
// 		background:#ccc;
// 	}
//
// 	.menu_bar .bt-menu {
// 		display:block;
// 		padding:20px;
// 		background:#024959;
// 		color:#fff;
// 		text-decoration:none;
// 		font-weight: bold;
// 		font-size:25px;
// 		-webkit-box-sizing:border-box;
// 		-moz-box-sizing:border-box;
// 		box-sizing:border-box;
// 	}
//
// 	.menu_bar span {
// 		float:right;
// 		font-size:40px;
// 	}
// }
