<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
>
  <mat-toolbar
    color="primary"
    class="example-toolbar mat-elevation-z5 p-3 mb-2 rounded"
    fxLayout="row"
  >
    <div
      fxFlex
      fxLayout="row"
    >
      <div translate="no">
          <button mat-icon-button (click)="snav.toggle()" translate="no">
            <i class="fas fa-bars fa-2x"></i>
          </button>
      </div>
      <div class="">
        <img class="img-fluid logo" src="https://s3.amazonaws.com/publihazclick/default/logo.png"
        alt="logo">
      </div>
      <span class="example-spacer"></span>
      <span matTooltip="Dias activo restantes">
        <div *ngIf="this._model.user.vigencia !== 0">
            <i class="fas fa-star" *ngIf="this._model.user.vigencia >= 25"></i>
            <i class="fas fa-star-half-alt" *ngIf="this._model.user.vigencia >= 10 && this._model.user.vigencia <= 24"></i>
            <i class="far fa-star " *ngIf="this._model.user.vigencia >= 1 && this._model.user.vigencia <= 9"></i>
            <span class="textInf" *ngIf="this._model.carga">
              {{ this._model.user.vigencia || 0 }}
            </span>
            <span *ngIf="!this._model.carga">
              <strong>Loading...</strong>
              <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </span>
        </div>
        <div *ngIf="this._model.user.vigencia === 0">
          <i class="fas fa-exclamation-circle"></i>
            <span class="textInf">
              0
            </span>
        </div>
      </span>
      <span style="padding: 0 0 0 1em;" class="divisor">|</span>
      <div
        matTooltip="Puntos vigentes"
        routerLink="bancos"
      >
          <i class="fas fa-coins icons"></i>
          <span
            class="textInf"
            *ngIf="this._model.user.puntosValor"
          >
            $ {{ (this._model.user.puntosValor || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' })  }}
          </span>
      </div>
      <div
        id="btn-actualizar"
        matTooltip="Actualizar Puntos"
      >
        <button
          mat-mini-fab color="accent"
          [disabled]="btndisable"
          type="button"
          (click)="reset()"
        >
          <i class="fas fa-redo-alt"></i>
        </button>
      </div>
      </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
      class="sidenav"
      #snav
      (window:resize)="onResize($event)"
      [mode]="mobileQuery.ds ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
    <div
      style="width: 290px; height: 90px;"
      fxLayout="column"
    >
      <div
        fxLayout="row"
      >
        <div
          fxFlex
        >

        </div>
        <div>
        </div>
      </div>
      <div
        class="border"
        style="
        background-image: url('https://s3.amazonaws.com/publihazclick/default/fondoHeader.jpg');
        background-size: cover;
        color: aliceblue;
        "
      >
        <div
        >
        <br>
          <img
            routerLink="perfil"
            class="perfil margin"
            mat-card-image
            src="{{this._model.user.foto}}"
            width="70px"
            height="90px"
            alt="Perfil user"
          >
          <h6
            fxLayout="column"
            class="marginLeft"
          >
            <span class="p"><i class="fas fa-at" style="margin-right: 5px;"></i>{{ user.username }}</span>
            <span class="p"><i class="fas fa-chess-queen" style="margin-right: 5px;"></i>{{ this._model.user.titleNivel }}</span>
          </h6>
        </div>
      </div>
      <ng-container>
        <mat-nav-list
          class="nav-list"
        >
          <a mat-list-item routerLink="." routerLinkActive="active" translate="false"><i class="fas fa-home"></i><span class="p textInf">Inicio</span></a>
          <mat-divider></mat-divider>
          <a href="{{agente}}" target="_blank" *ngIf="!_model.verificacion" type="button" class="btn btn-info" mat-list-item  routerLinkActive="router-link-active"  translate="no"><i class="fas fa-address-book"></i><span class="p text-white textInf">Mi Portada</span></a>
          <mat-divider></mat-divider>
          <button *ngIf="!_model.verificacion" type="button" class="btn btn-success" mat-list-item (click)="portapapeles()" translate="no"><i class="fas fa-handshake"></i><span class="p text-white textInf">Recomienda y Gana</span></button>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="tablero" routerLinkActive="active" translate="false"><i class="fas fa-tachometer-alt"></i><span class="p textInf">Tablero</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="actividades" routerLinkActive="active" translate="false"><i class="fas fa-tasks"></i><span class="p textInf">Tareas</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="referidos" routerLinkActive="active" translate="false"><i class="fas fa-users"></i><span class="p textInf">Referidos</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="lider" routerLinkActive="active" translate="false"><i class="fas fa-child"></i><span class="p textInf">Lider Inf</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="configuraciones" routerLinkActive="active" translate="false"><i class="fas fa-atlas"></i><span class="p textInf">Mis Publicaciones</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="bancos" routerLinkActive="active" translate="false"><i class="fas fa-coins"></i><span class="p textInf">Retiro de Dinero / Bancos</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="paquetes" routerLinkActive="active" translate="false"><i class="fas fa-boxes"></i><span class="p textInf">Paquetes</span></a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="perfil" routerLinkActive="active" translate="false"><i class="fas fa-user-circle"></i><span class="p textInf">Perfil / Portada</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="calculadora" routerLinkActive="active" translate="false"><i class="fas fa-calculator"></i><span class="p">Calculadora de Ganancias</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item routerLink="categoria" routerLinkActive="active" translate="false"><i class="fas fa-buromobelexperte"></i><span class="p">Categorias</span></a>
          <mat-divider></mat-divider>
          <a *ngIf="!_model.verificacion" mat-list-item href="http://bit.ly/servicioalclientepublihazclick"  target="black" routerLinkActive="active" translate="false"><i class="fas fa-comment-alt"></i><span class="p textInf">Servicio al Cliente</span></a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="logout()"><i class="fas fa-sign-out-alt"></i><span class="p textInf" translate="false">Salir</span></a>
        </mat-nav-list>
      </ng-container>
    </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <br>
     <div class="container">
       <div class="row content">
        <a target="_blank" href="{{imgbanner1.content}}" class="col-12 col-sm-6 col-lg-4">
           <!-- <p class="">{{ imgbanner1.title}}</p> -->
           <img [src]="imgbanner1.imgdefault" alt="none" height="100px" width="300px">
         </a>
         <a target="_blank" href="{{imgbanner2.content}}" class="col-12 col-sm-6 col-lg-4 views1">
           <!-- <p>{{ imgbanner2.title}}</p> -->
           <img [src]="imgbanner2.imgdefault" alt="none" height="100px" width="300px">
         </a>
         <a target="_blank" href="{{imgbanner3.content}}" class="col-12 col-sm-6 col-lg-4 views2">
           <!-- <p>{{ imgbanner3.title}}</p> -->
           <img [src]="imgbanner3.imgdefault" alt="none" height="100px" width="300px">
         </a>
       </div>
       <div class="row">
         <div class="col">

         </div>
         <p>Banner Publicitario</p>
       </div>
       <app-menu-lateral></app-menu-lateral>
      <app-alertas></app-alertas>
      <ng-content
        *ngIf="!_model.verificacion"
      ></ng-content>
      <div
        *ngIf="_model.verificacion"
        [class.example-is-mobile]="mobileQuery.matches"
      >
      <div class="card card-image bg-dark" style="
         opacity: 0.8;
      "
      >
        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
          <h4 class="text-center">
             Por Favor Revisar El Correo Electronico Gmail
             <p>Para Poder Continuar</p>
             <br>
             <a href="https://www.google.com/gmail/">Link: Email</a>
             <a routerLink="perfil" class="mouse">Editar Correo</a>
          </h4>
        </div>
      </div>
      </div>
     </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-dark text-white fondo row">
  <div class="col">
    <a class="navbar-brand" href="#">Publi Haz Click</a>
  </div>
  <div class="row">
    <span matTooltip="Dias activo restantes">
      <div *ngIf="this._model.user.vigencia !== 0">
          <i class="fas fa-star" *ngIf="this._model.user.vigencia >= 25"></i>
          <i class="fas fa-star-half-alt" *ngIf="this._model.user.vigencia >= 10 && this._model.user.vigencia <= 24"></i>
          <i class="far fa-star " *ngIf="this._model.user.vigencia >= 1 && this._model.user.vigencia <= 9"></i>
          <span class="textInf">
            {{this._model.user.vigencia}}
          </span>
      </div>
      <div *ngIf="this._model.user.vigencia === 0">
        <i class="fas fa-exclamation-circle"></i>
          <span class="textInf">
            0
          </span>
      </div>
    </span>
    <span style="padding: 0 0 0 1em;" class="divisor">|</span>
    <div
      matTooltip="Puntos vigentes"
      routerLink="bancos"
    >
        <i class="fas fa-coins icons"></i>
        <span
          class="textInf"
        >
          {{this._model.user.puntosValor || 0 | currency: 0 : "$"}}
        </span>
    </div>
    <div
      id="btn-actualizar"
      matTooltip="Actualizar Puntos"
    >
      <button
        mat-mini-fab color="accent"
        type="button"
        (click)="reset()"
      >
        <i class="fas fa-redo-alt"></i>
      </button>
    </div>
  </div>
  <div class="row">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i><span class="p" translate="no">Salir</span></a>
    </li>
  </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark text-white bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" id="navbarToggleExternalContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbarToggleExternalContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="."><i class="fas fa-home"></i><span class="p">Inicio</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="tablero" ><i class="fas fa-tachometer-alt"></i><span class="p">Tablero</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="actividades" ><i class="fas fa-tasks"></i><span class="p">Tareas</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="referidos" ><i class="fas fa-users"></i><span class="p">Referidos</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="configuraciones" ><i class="fas fa-atlas"></i><span class="p">Mis Publicaciones</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="bancos" ><i class="fas fa-coins"></i><span class="p">Retiro de Dinero / Bancos</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="paquetes" ><i class="fas fa-boxes"></i><span class="p">Paquetes</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="perfil" ><i class="fas fa-user-circle"></i><span class="p">Perfil</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="mx-auto mt-3" style="width: 80%;">
  <ng-content></ng-content>
</div> -->
<!-- <script type="text/javascript" src="assets/js/menu.js"></script>
<header>
  <div class="menu_bar">
    <a href="#" class="bt-menu"><span class="icon-list2"></span>Menu</a>
  </div>

  <nav>
    <ul>
      <li><a href="#"><span class="icon-house"></span>Inicio</a></li>
      <li><a href="#"><span class="icon-suitcase"></span>Trabajos</a></li>
      <li><a href="#"><span class="icon-rocket"></span>Proyectos</a></li>
      <li><a href="#"><span class="icon-earth"></span>Servicios</a></li>
      <li><a href="#"><span class="icon-mail"></span>Contactos</a></li>
    </ul>
  </nav>
</header> -->
