<div class="social-bar" *ngIf="estado">
    <a class="icon icon-flecha" (click)="estado = !estado" matTooltip="Ocultar Elementos">
        <i class="fas fa-angle-right"></i>
    </a>
    <a href="https://www.facebook.com/Publihazclickcom-902431040107623/"
    matTooltip="Siguenos en Facebook" class="icon icon-facebook" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com/publihazclick?lang=en"
    matTooltip="Siguenos en Twitter" class="icon icon-twitter" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCDRfvqREd_vYJdK5Bxi41fg"
    matTooltip="Siguenos en Youtube" class="icon icon-youtube" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.instagram.com/publihazclick1/"
    matTooltip="Siguenos en Instagram" class="icon icon-instagram" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <!-- <a data-toggle="modal" data-target="#exampleModal" class="icon icon-feedback feed"
    matTooltip="Cuentanos que te parece nuestra aplicacion">
      <i class="far fa-grin-beam icono-feed"></i>
      Feedback
    </a> -->

  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
