<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="overflow-x: scroll;">
          <br>
          <br>
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Administracion de Retiros</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div *ngIf="loader" class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
              Loading..
            </div>
            <div id="datatables_filter" class="dataTables_filter">
              <label class="form-group">
                <input [(ngModel)]="datoBusqueda" type="search" class="form-control form-control-sm"
                  placeholder="Buscar Retiros" aria-controls="datatables"></label>
              <button (click)="buscar()" [disabled]="loader" mat-raised-button mat-min-fab
                class="btn btn-primary btn-just-icon btn-round">
                <i class="material-icons">search</i>
              </button>
            </div>
            <div class="material-datatables" *ngIf="!loader">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{row['name']}}</td>
                    <td>{{row['lastname']}}</td>
                    <td>{{row['username']}}</td>
                    <td>{{row['cabeza']?.username}}</td>                   
                    <td>{{row['email']}}</td>
                    <td>{{row['celular']}}</td>                    
                    <td>
                      <button type="button" (click)="seleccion(row)" class="btn btn-link btn-warning btn-just-icon edit"
                        data-toggle="modal" data-target=".bd-example-modal-lg"><i
                          class="material-icons">dvr</i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example  text-rigth">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>