<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="javascript:void(0)">
            LAJ Ingenieria
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            About Us
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Blog
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
      <a href="javascript:void(0)" target="_blank">LAJ Ingenieria</a> desarrollo web.
    </div>
  </div>
</footer>
