.example-card {
  max-width: 460px;
  margin: 20px auto;
}
.imagen {
  height: 243px;
}
.translate {
  transform: rotate(180deg);
}
.font-text {
  font-size: 13px;
}
.checklike{
  color: #105bff;
}
.icon-facebook {
	background: #2E406E;
}
.icon-whatsapp{
  background: red;
}

.icon-twitter {
	background: #339DC5;
}

.mouse {
  cursor: pointer;
}
.tanicon {
  font-size: 10px;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}
.perfil-img {
  margin-right: 25px;
}
.example-viewport {
  width: 100%;
}

.example-item {
  height: 50px;
}
.p {
  padding: 5px;
}
.m {
  padding: 5px;
}
.men {
  height: 10%;
}
.font {
  font-size: 10px;
}
/* #targeta-publicaciones {
  width: 50%;
} */
