<div class="container-fluid body">
  <div id="main-container">
    <section id="intro-container">
      <div class="container">
        <div class="center-align">
          <nav>
            <div id="menu-lista">
              <ul>
                <li><a class="navv-text" routerLink="/login"><strong>Ingresar</strong></a></li>
                <span> | </span>
                <li><a class="navv-text" routerLink="/registro/{{username}}"><strong>Registrarse</strong></a></li>
              </ul>
            </div>
          </nav>

          <div class="row section-columns">
            <div class="col-xs-12">
              <img class="img-fluid" src="https://s3.amazonaws.com/publihazclick/default/logo.png" height="60%"
                width="80%" alt="Logo publihazclick">
              <hr>

              <div class="btn-section" style="text-align: center; align-content: center">
                <a routerLink="/login" class="btn btn-white">Ingresar</a>
              </div>
              <br>
              <br>
              <br>
            </div>

            <!-- <div id="image-bg">
          </div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="rectangle bg-white skew-left"></div> -->

    <div class="container" id="about-section">
      <div class="center-align">
        <div class="row section-columns">
          <div class="col-xs-6">
            <br>
            <h2>PubliHazClick.<br />Misión.<br /></h2>

          </div>

          <div class="col-xs-6" id="bio">
            <div class="text-wrap texto-ajuste">
              <p class="text-justify">
                Nuestra misión es ayudar a cientos de personas enseñándoles cómo generar<br>
                ingresos extras a través de la publicidad en internet que durante años<br>
                habíamos estado visualizando de gratis ofreciendo la oportunidad de acceder<br>
                a una mejor calidad de vida aprovechando el potencial de internet y la industria<br>
                publicitaria.
              </p>
            </div>

            <!-- <div class="btn-section">
              <a href="#work" class="btn btn-black">Ver proyectos sobresalientes</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="rectangle bg-gray skew-right"></div>
    <div class="section bg-gray" id="work">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 section-columns">
            <div>
              <h2 class="white">Mas <br> Sobre <br> Nosotros.</h2>
              <!-- <div class="btn-section">
                    <a href="" class="btn btn-white">Ver proyectos sobresalientes</a>
                  </div> -->

            </div>
          </div>
          <div class="col-xs-6" style="color: white;">
            <div class="text-wrap texto-ajuste">
              <p class="text-justify">
                www.Publihazclick.com es una empresa 100% legal registrada el 22 de febrero del año 2017 <br>
                En la cámara de comercio de la ciudad de Cúcuta Colombia bajo el Nit: 1093753373-2 www.publihazclick.com
                <br>
                Se dedica a la venta de publicidad por internet nuestros clientes compran un espacio publicitario <br>
                Para dar a conocer su negocio producto o servicios y a través los clicks que reciben van <br>
                Logrando ir posicionando su marca en los principales buscadores de internet www.Publihazclick.com <br>
                Está conformada por un equipo humano honesto y con altos valores. <br>
                Ofrecemos un sistema de fidelización de clientes enfocado en beneficiar a nuestros clientes <br>
                A través de la recomendación para que estos puedan aprovechar al máximo el potencial de ganancias <br>
                Que ofrece la industria publicitaria Puedes adquirir tu paquete publicitario y ver los anuncios <br>
                Publicitarios que te mostramos diariamente Además de dar a conocer tu negocio también puedes participar
                <br>
                de clientes y generar ingresos extras a través de recomendar nuestra empresa publicitaria <br>
              </p>
              <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L8wQz1orTK8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <!-- <p class="text-break" style="color: white;"> -->

            <!-- </p> -->
          </div>
        </div>
      </div>
      <br>
      <br>

    </div>
    <div class="rectangle bg-white skew-left"></div>
    <br>
    <br>
    <br>
    <div class="section bg-gray" id="about-section">
        <iframe style="width: 100%; height: 900px;" src="./assets/pdf/1_5039557068546113624.pdf"></iframe>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="rectangle bg-black skew-left"></div>
    <div class="section bg-black" id="footer">
      <br>
      <br>

      <div class="center-align">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 section-columns">
              <div>
                <h2 class="white">Si Tienes alguna duda.</h2>
                <div class="btn-section">
                  <a href="https://www.facebook.com/groups/432063927350131/" target="_blank" class="btn btn-white">
                    Pregunta en el grupo
                  </a>
                  <br>
                  <hr>
                  <p style="color: white">
                    Publihazclick.com <br>
                    Correo electrónico: soportepublihazclick@gmailcom <br>
                    WhatsApp servicio al cliente :3148487506 <br>
                    Teléfono Colombia:5972337 <br>
                    Oficina de Información: torres de claret detrás del <br>
                    metro de atalaya local 2 en la ciudad de Cúcuta <br>
                    Horarios de atención de lunes A viernes de 8:00 am A <br>
                    12:00 am y de 2:00 pm A 6:00 pm <br>
                    SABADOS de 8:00 am A 12:00 am
                  </p>
                </div>
              </div>


            </div>
            <div class="col-xs-6">
              <h3>Contáctanos si quieres <br>
                conocer mas sobre nosotros.<br></h3>
              <p> o nos puedes seguir en.</p>

              <div class="btn-section">
                <a href="https://www.facebook.com/Publihazclickcom-902431040107623/" target="_blank"
                  class="btn btn-white">Facebook</a>
                <a href="https://twitter.com/publihazclick?lang=en" target="_blank" class="btn btn-white">Twitter</a>
                <a href="https://www.instagram.com/publihazclick1/" target="_blank" class="btn btn-white">Instagram</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>